body{
    text-align: center;
    background-image: url('docs/assets/images/blue_backg.jpeg');
    
}

canvas {
    /* background-image: url('/docs/assets/images/Tyrion-Dragon.jpg'); */
    display:none;
    position: center;
    padding-left: 8%;
    
    
}

#start-button {
    
    font-size: 5em;
    border-color: #f4f4f4;
    background-color: rgba(56, 72, 110);
    color: #f4f4f4;
    position: absolute;
    top: 45%;
    left: 40%;
    font-style:oblique;
    
}

#id {
    display: none;
    position: absolute;
    top: 45%;
    left: 44%; 
    background-color: blue;
}
#restart{
    background-color: rgba(56, 72, 110);
    font-size: 4em;
    border-color: #f4f4f4;
    color: #f4f4f4;
    font-style:oblique;
    
}

#jon_snow {
    display: none;
    position: absolute;
    top:20%;
    padding-left: 39%;
    font-family: fantasy;
    font-size: 2em;
}

#dany {
    display: none;
    position: absolute;
    top:20%;
    padding-left: 36%;
    font-family: fantasy;
    font-size: 2em;
}

h1{
    color: #f4f4f4;
}


